@{
    ViewData["Title"] = "Home Page";
}
<div class="main-container" style="margin: 20px auto">
    <form method="get" asp-controller="Home" asp-action="Index" id="search-form">
        <div class="control-wrapper">
            <button class="search-btn">Search</button>
            <input class="search-input" placeholder="Search" />
        </div>
    </form>
</div>
<div class="main-container">
    

</div>